@import 'color.scss';

.branches-page-header{
    font-size: 3rem;
    text-align: center;
    padding: 30px 0px;
    .branches-page-header-text{
        color: $primary-color;
    }
}
.branches-page-row {
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}
.branches-page-col {
    text-align: center;
    font-size: 2.5rem;
    width: 600px;
    height: auto;
    margin-bottom: 15px;
    padding: 10px 0px;
    color: #4c4c4c;
    p {
        margin: 0;
    }
}
